.flexible-images-70{
  max-width: 70%;
  height: auto;
}
.flexible-images-60{
  max-width: 70%;
  height: auto;
}
.flexible-images-50{
  max-width: 50%;
  height: auto;
}
.flexible-images-40{
  max-width: 40%;
  height: auto;
}
.siteHeader,
.photo{
  text-align: center;
}
@media (min-width: 640px){
  .photo-text{
    width: 640px;
    margin: auto;
  }
}

  .photo-text2{
    width: 640px;
    margin: auto;
  }
